@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Orbitron:wght@600&display=swap");
.nav {
  background-color: rgba(156, 129, 129, 0.645);
}

.nav__list {
  color: rgb(31, 18, 18);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin-left: 10px;
  list-style: none;
}

.nav__boton {
  display: none;
}

@media only screen and (max-width: 576px) {
  .nav {
    width: 100%;
  }
  .nav__boton {
    display: block;
    position: relative;
    left: 75%;
  }
  .nav__listContainer {
    display: none;
  }
  .nav__list {
    display: block;
  }
  .nav__list__element {
    display: inherit;
  }
}
.generalContainer {
  margin: 20px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: rgba(156, 129, 129, 0.645);
  border: 1px darkblue solid;
  width: 98%;
}

.banner {
  display: flex;
  justify-content: center;
}

.banner__img {
  height: 200px;
  width: 1200px;
}

.contacts {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.singleChat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border: 1px darkblue solid;
}

.imgContact {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  border-radius: 50%;
}

input {
  margin: 10px 5px 10px 5px;
}

.titleChat {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px darkblue solid;
  border-left: 1px darkblue solid;
  width: 1500px;
  /* border-right: $border; */
}

.activeChat {
  background-color: rgba(31, 18, 18, 0.447);
}

.imgChat {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.contact1 {
  margin: 15px;
  display: flex;
  flex-direction: row;
}

.contact2 {
  margin: 15px;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 10%;
}

.text1 {
  background-color: rgba(31, 18, 18, 0.447);
  color: rgb(215, 204, 204);
  margin: 5px;
  padding: 10px;
}

.text2 {
  background-color: rgb(55, 28, 28);
  margin: 5px;
  padding: 10px;
  color: bisque;
}

.time {
  font-size: x-small;
  padding-top: 10px;
}

.name {
  margin: 9.8px;
}

.date {
  font-size: small;
  margin-right: 10px;
}

.newText {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.getInto {
  width: 800px;
  padding: 10px;
}

.imgSend {
  width: 4%;
  height: 4%;
}

@media only screen and (max-width: 576px) {
  .contacts {
    width: 80px;
  }
  .banner__img {
    height: 100px;
    width: 300px;
    margin-right: 30px;
  }
  .singleChat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
  }
  .date {
    padding-left: 5px;
    margin: 3px;
  }
  .name {
    margin: 3px;
  }
  .chat {
    width: 75%;
    font-size: 15px;
  }
  .container {
    width: 90%;
  }
  .titleChat {
    width: 93%;
  }
  .imgSend {
    display: none;
  }
}
.pie__parrafo {
  font-family: "Dancing Script", cursive;
}

.pie {
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
  background-color: rgba(156, 129, 129, 0.645);
}

.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.legionImg {
  height: 80px;
  padding: 15px;
}

@media only screen and (max-width: 576px) {
  .pie {
    background-color: rgba(156, 129, 129, 0.645);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .pie__parrafo {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=main.css.map */
