.generalContainer {
    margin: 20px;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: $colorNav;
    border: $border;
    width: 98%;
}

.banner {
    display: flex;
    justify-content: center;
}

.banner__img {
    height: 200px;
    width: 1200px;
}
.contacts{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.singleChat {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border: $border;
}

.imgContact {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 50%;
}

input {
    margin: 10px 5px 10px 5px;
}

.titleChat {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: $border;
    border-left: $border;
    width: 1500px;
    /* border-right: $border; */
}

.activeChat {
    background-color: $activeChat;
}

.imgChat {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.contact1 {
    margin: 15px;
    display: flex;
    flex-direction: row;
}

.contact2 {
    margin: 15px;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 10%;
}

.text1 {
    background-color: $activeChat;
    color: rgb(215, 204, 204);
    margin: 5px;
    padding: 10px;
}

.text2 {
    background-color: $chat2;
    margin: 5px;
    padding: 10px;
    color: bisque;
}

.time {
    font-size: x-small;
    padding-top: 10px;
}

.name {
    margin: 9.8px;
}

.date {
    font-size: small;
    margin-right:10px ;
}

.newText{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.getInto{
    width: 800px;
    padding: 10px;
}

.imgSend{
    width: 4%;
    height: 4%;
}


    @media only screen and (max-width: 576px){
    .contacts{
        width:80px;     
    }

    .banner__img {
        height: 100px;
        width: 300px;
        margin-right: 30px;
    }

    .singleChat {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 10px;       
    }

    .date {    
        padding-left: 5px;
        margin: 3px;
    }

    .name {
        margin: 3px;
    }

    .chat{
        width: 75%;
        font-size: 15px;
    }

    .container{
        width: 90%;
    }

    .titleChat{
        width: 93%;
    }

    .imgSend{
        display: none;
    }

}

