.pie__parrafo{
    font-family: 'Dancing Script', cursive;    
}

.pie{
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    background-color: $colorNav;

}
.footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.legionImg{
    height: 80px;
    padding: 15px;
}
@media only screen and (max-width: 576px){

.pie{
    background-color: $colorNav;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.pie__parrafo{
    display: flex;
    justify-content:  center;
}
}