.nav{
    background-color: $colorNav;    
}

.nav__list{
    color: $letterOscuro;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-left: 10px;
    list-style: none;
}
.nav__boton{
    display: none;
}

@media only screen and (max-width: 576px) {
    .nav{
        width: 100%;
    }
    .nav__boton {
      display: block;
      position: relative;
      left: 75%;
    }
    .nav__listContainer {
      display: none;
    }
    .nav__list {
      display: block;
    }
    .nav__list__element {
      display: inherit;
    }
}